scipy==1.4.1
opencv_python==4.1.2.30
numpy==1.22.0
typing_extensions==3.7.4.1
pandas==1.0.3
gym==0.13.1
argcomplete==1.11.1
# torch==1.5.0  # Install with anaconda
tqdm==4.41.1
ttictoc==0.4.1
typed_argument_parser==1.4
minerl==0.3.6
tap==0.2
